PORT=3000

DB_USER=ctrl_server_user
DB_PASSWORD=ctrl_server_password
DB_NAME=ctrl_server_db
DB_PORT=5433
DATABASE_URL=postgresql://ctrl_server_user:ctrl_server_password@localhost:5433/ctrl_server_db

FRONTEND_URL=http://localhost:5173
BETTER_AUTH_URL=http://localhost:3000
CORS_ALLOWED_ORIGINS=http://localhost:5173

GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
APPLE_CLIENT_ID=
APPLE_CLIENT_SECRET=
